<ui-stack>
  <ui-card>
    <order-delivery
      [delivery]="delivery()"
      [usage]="OrderDeliveryPlace.PlacingOrder"
      (deliverValue)="submitDeliveryValue($event)"
      [currency]="this.currency()"
      class="w-100"
    ></order-delivery>
  </ui-card>

  <div class="title right">
    Общая сумма: {{ orderTotal() | priceString: currency() }}
    {{ currencySymbol() }}
  </div>
  <ui-button (action)="createOrder(PaymentMethod.Cash)" btnClass="w-100" [disabled]="disableCash">
    Оплата наличными
  </ui-button>
  @if(cashError){
    <div class="red">
      {{cashError}}
    </div>
  }
  <ui-button (action)="createOrder(PaymentMethod.Bank)" btnClass="w-100" [disabled]="disableBank">
    Оплата картой
  </ui-button>
  @if(bankError){
    <div class="red">
      {{bankError}}
    </div>
  }
</ui-stack>
