.flex {
  display: flex;
}

.col {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.center {
  align-items: center;
  justify-content: center;
}

.center-self {
  align-self: center;
  justify-self: center;
}

.gap-s {
  gap: var(--space-1);
}
.gap-m {
  gap: var(--space-3);
}
.gap-l {
  gap: var(--space-4);
}
.gap-0 {
  gap: 0px;
}

.p-s {
  padding: var(--space-2);
}
.p-m {
  padding: var(--space-4);
}
.p-l {
  padding: var(--space-6);
}

.w-100 {
  width: 100%;
}

.left {
  margin-right: auto;
}
.right {
  margin-left: auto;
}

.relative {
  position: relative;
}

.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.no-wrap {
  white-space: nowrap;
}
