<ui-card>
  @switch (usage) {
  @case (PaymentCardPlace.OnlinePayment) {
  <ui-stack >
    <div class="title">
      Общая сумма: {{total() | priceString : currency()}} {{currencySymbol()}}
    </div>
    @let method = paymentMethod();
    @if(method) {

    @if(method.paymentOption === OnlinePaymentOption.QR) {
    <img [src]="method.account" alt="QR code for payment" class="qr">
    <ui-button (action)="downloadQR(method.account)">
      Скачать QR-код
    </ui-button>
    } @else {
    <div>
      {{method.comment || 'Реквизиты для оплаты:'}}:
    </div>
    <ui-row>
      <div>
        {{method.account}}
      </div>
      <ui-button (action)="copyToClipboard(method.account!)" size="s" [icon]="true" variant="ghost"
        fa="fa-solid fa-copy"> </ui-button>
    </ui-row>

    }

    <div class="title">
      Произведите оплату и отправьте скрин квитанции с помощью кнопки ниже:
    </div>
    <input type="file" accept="image/*" (change)="onFileSelected($event)" hidden #fileInput>
    <ui-button (action)="fileInput.click()">
      Отправить квитанцию
    </ui-button>
    } @else {
    <div class="title">
      Онлайн оплата в этой валюте недоступна
    </div>
    }

  </ui-stack>

  }
  }

</ui-card>
