<div class="field" [class.invalid]="form != null ? form.controls[formControlName].invalid : false">
  @if (label) {
    <label>{{ label + (isRequired ? "*" : "")}}</label>
  }

  <ui-row class="relative" rowClass="w-100">
    @let clear = clearable && value;
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [attr.min]="min"
      [attr.step]="step"
      (input)="change($any($event.target).value)"
      (blur)="onTouched()"
      [class.clear-space]="clear"
    />

    @if (clear) {
      <button type="button" class="clear" (click)="clear()">×</button>
    }
    <ng-content></ng-content>
  </ui-row>
</div>
