<div class="field" [class.invalid]="form != null ? form.controls[formControlName].invalid : false">
  @if (label) {
    <label>{{ label + (isRequired ? "*" : "")}}</label>
  }

  <ui-row rowClass="w-100 relative">
    @let clear = clearable && value;
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [attr.min]="min"
      [attr.step]="step"
      (input)="change($any($event.target).value)"
      (blur)="onTouched()"
      [class.clear-space]="clear"
    />

    @if (clear) {
      <ui-button
            (action)="clearInput()"
            size="s"
            [icon]="true"
            variant="ghost"
            fa="fa-solid fa-xmark"
            class="clear"
          >
          </ui-button>
    }
    <ng-content></ng-content>
  </ui-row>
</div>
