<ui-page title="Товары" [showCurrency]="true">
  @if (creating) {

  <product-card class="w-100" [isExpanded]="true" [usage]="ProductCardPlace.AllProducts" (cancel)="creating = false" (accept)="creating = false" />

  } @else {

  <ui-button (action)="creating = true">
    Новый продукт/набор
  </ui-button>
  <ui-input icon="🔍" placeholder="Поиск товара" [formControl]="searchControl" [clearable]="true" />

  <ui-stack>
    @for (item of products(); track $index) {
    <product-card class="w-100" [product]="item" [usage]="ProductCardPlace.AllProducts" />
    }
  </ui-stack>
  }


</ui-page>
