<ui-page>
  <div class="title">
    Корзина
  </div>

  @let orderContent = content();
  <order-content [_currency]="currency()" [usage]="OrderContentPlace.CartPage" [content]="orderContent" (updateContent)="updateCart($event)" class="w-100"></order-content>
  <div class="title right">
    Общая сумма: {{total() | priceString : currency()}} {{currencySymbol()}}
  </div>
  @if (showDelivery) {
    <ui-card class="w-100">
      <order-delivery [delivery]="delivery()" [usage]="OrderDeliveryPlace.PlacingOrderPage" (deliverValue)="submitDeliveryValue($event)" class="w-100"></order-delivery>
    </ui-card>
  }
  <ui-button link="placing-order" [disabled]="orderContent.products.length === 0">Оформить заказ</ui-button>
</ui-page>
