<ui-card>



  @if(!isExpanded || usage !== ProductCardPlace.AllProducts) {

  <div class="row" (click)="onExpand()">

    <div class="col left">

      <div class="title">
        {{ p_name() }} (@if(p_set()){{{ weight }} кг} @else {{{ p_amount() }} {{ p_measure() }}})
      </div>

      <div class="subtitle">
        {{ p_description() }}
      </div>

    </div>

    @switch (usage) {
    @case (ProductCardPlace.AllProducts) {
    <ui-grid [columns]="3" alignX="center" [gap]="5">
      <div>₽</div>
      <div>₫</div>
      <div>$</div>
      <div>{{ p_priceRUB() }}</div>
      <div>{{ p_priceVND() }}k</div>
      <div>{{ p_priceUSDT() }}</div>

    </ui-grid>

    <ui-button (action)="startEdit()" size="s" [icon]="true" variant="ghost" fa="fa-solid fa-pen"> </ui-button>
    }
    @default {
    <ui-grid [columns]="1" alignX="center" [gap]="5">
      <div>{{ currencySymbol() }}</div>
      <div>{{ price }}</div>

    </ui-grid>
    }
    }



  </div>

  }
  @if(isExpanded) {

  <ui-stack [formGroup]="form()">
    @if(editing) {
    <div class="row">
      <ui-toggler [options]="typeOptions" formControlName="set">
      </ui-toggler>
      @if(isSet) {
      ({{weight}} кг)
      }
    </div>

    <ui-input label="Название" formControlName="name" [clearable]="true">
    </ui-input>

    <ui-input label="Описание" formControlName="description" [clearable]="true">
    </ui-input>

    <ui-row class="row">
      @if(form().controls['set'].getRawValue()){
      } @else {
      <ui-select label="ед.и." [options]="measureOptions" formControlName="measure">
      </ui-select>

      <ui-input label="Вес" type="number" formControlName="weight">
      </ui-input>

      <ui-input label="Кол-во" type="number" formControlName="amount">
      </ui-input>
      }

    </ui-row>
    @if(isSet){
    <ui-toggler [options]="priceOptions" formControlName="fixedSet">
    </ui-toggler>
    }
    <ui-row class="row" [formGroup]="pricesForm">

      <ui-input label="RUB" type="number" formControlName="rub">
      </ui-input>

      <ui-input label="VND" type="number" formControlName="vnd">
      </ui-input>

      <ui-input label="USDT" type="number" formControlName="usdt">
      </ui-input>

    </ui-row>
    }

    @if (showSetProducts) {
    <ui-stack [formGroup]="productsForm()">

      @if (isFixedSet && usage !== ProductCardPlace.AllProducts) {
      @for (p of p_productsArray(); track p.id) {
      <ui-row class="product-row">
        <div>
          {{ p.name }} ({{p.amount}} {{p.measure}})
        </div>
        <div>
          {{p_products()[p.id].count}}
        </div>
      </ui-row>
      }
      } @else {
      @for (p of simpleProducts(); track p.id) {

      <ui-row class="product-row">

        <div>
          {{ p.name }} ({{p.amount}} {{p.measure}})
        </div>
        <div class="right">
          {{p.price[this.currency()] | priceString}}{{currencySymbol()}}
        </div>
        <ui-counter
          [blockDecrease]="usage === ProductCardPlace.Cart && ((price - p.price[currency()]) < p_dataBasePrice())"
          [formControlName]="p.id" (valueChange)="changeProducts()">
        </ui-counter>

      </ui-row>

      }
      }


    </ui-stack>

    }

    <ui-row class="actions">
      @switch (usage) {
      @case (ProductCardPlace.AllProducts) {
      <ui-button variant="primary" (action)="saveProduct()">
        Сохранить
      </ui-button>
      <ui-button variant="primary" (action)="onCancel()">
          Отмена
        </ui-button>
      }
      @case (ProductCardPlace.Shop) {
      @if(price < p_dataBasePrice()) { <ui-button variant="primary" (action)="saveProduct()" [disabled]="true">
        от {{p_dataBasePrice() | priceString}} {{currencySymbol()}}
        </ui-button>
        } @else {
        <ui-button variant="primary" (action)="addToCart()">
          Добавить в корзину
        </ui-button>
        <ui-button variant="primary" (action)="buy()">
          Купить
        </ui-button>
        }
        <ui-button variant="primary" (action)="onCancel()">

          Отмена

        </ui-button>
        }

        }





    </ui-row>

  </ui-stack>
  }



</ui-card>
