<ui-stack>
  <ui-stack class="w-100">
    @for (product of products; track $index) {
      <product-card
        class="w-100"
        [isExpanded]="products.length === 1"
        [product]="product"
        [usage]="productCardUsage"
        [cartIndex]="$index"
        [_currency]="currency()"
        (changeContent)="changeContent($event, $index)"
        (deleteContent)="deleteContent($event)"
      />
    }
  </ui-stack>
  @let addons = orderAddons();
  @if(addons.length){
    <ui-stack>
        @for (addon of addons; track addon.id) {
          <addon-card [addon]="addon" (toggleAddon)="toggleAddon($event)" [disabled]="usage === OrderContentPlace.OrderPage"></addon-card>
        }
      </ui-stack>

  }
</ui-stack>
