<ui-card>

  <div class="row">

    <div class="col left">

      <div class="title">
        {{ product?.name }} (
        @if(product?.set){
        {{ product?.weight }} кг
        } @else {
        {{ product?.amount }} {{ product?.measure }}
        }
        )
      </div>

      <div class="subtitle">
        {{ product?.description }}
      </div>

    </div>
    <ui-grid [columns]="1" alignX="center" [gap]="5">
      @switch (currency) {
      @case (Currency.Rub) {
      <div>₽</div>
      }
      @case (Currency.VND) {
      <div>₫</div>
      }
      @case (Currency.USDT) {
      <div>$</div>
      }
      }
      <div>{{ totalPrice }}</div>

    </ui-grid>


  </div>
  @if (showProducts) {

  <ui-stack [formGroup]="form()">

    <ui-row class="row">
      <div>Вес: {{defaultsWeight}}кг</div>

    </ui-row>
    @if (showProducts) {
    <ui-stack [formGroup]="defaultsForm">

      @for (p of products(); track p.id) {

      <ui-row>

        <div>
          {{ p.name }} ({{p.amount}} {{p.measure}}) - {{p.price[this.currency]}}
          @switch (currency) {
          @case (Currency.Rub) {
          ₽
          }
          @case (Currency.VND) {
          ₫
          }
          @case (Currency.USDT) {
          $
          }
          }

        </div>

        <ui-counter [min]="product!.defaultProducts[p.id]?.count || 0" [formControlName]="p.id">
        </ui-counter>

      </ui-row>

      }
    </ui-stack>

    }

    <ui-row class="actions">

      <ui-button variant="primary" (action)="saveProduct()">

        Добавить в корзину

      </ui-button>

      <ui-button variant="ghost" (action)="cancel()">

        Отмена

      </ui-button>

    </ui-row>

  </ui-stack>

  }

</ui-card>
