<ui-card>
  <ui-row rowClass="w-100">
    @if (!disabled) {
      <ui-checkbox
        [value]="value"
        (valueChange)="changeAddonSelect()"
        label=""
        [disabled]="disabled"
        [value]="value"
      ></ui-checkbox>
    }
    <ui-stack class="left">
      <div class="title">{{ addon.name }} {{ titleMeasure }}</div>

      <div class="green-text">
        {{ addon.description }}
      </div>
    </ui-stack>
    @if (usage ===AddonCardPlace.SetCard) {
        <div class="right bold">
          {{ addonPrice() | priceString: currency() }} {{ currencySymbol() }}
        </div>
      }
  </ui-row>
</ui-card>
