<ui-card>
  <ui-row rowClass="w-100">
    <ui-checkbox [value]="isSelected()" (valueChange)="changeAddonSelect()" label="" [disabled]="usage === AddonCardPlace.OrderPage"></ui-checkbox>
    <ui-stack class="left">

      <div class="title">
        {{ addon.name }}
      </div>

      <div class="green-text">
        {{ addon.description }}
      </div>

    </ui-stack>
    <div class="right bold">
      {{ addonPrice() | priceString : currency() }} {{currencySymbol()}}
    </div>

  </ui-row>

</ui-card>
