<ui-card>
  @switch (usage) {
    @case (OrderCardPlace.OrderPage) {
      <ui-stack>
        <ui-row>
          <div>
            № {{order.number}}
          </div>
          <ui-row>
            {{name()}}
            <div class="subtitle">
              ({{username()}})
            </div>
          </ui-row>
          <div>
            {{totalPrice() | priceString : currency() }} {{currencySymbol()}}
          </div>
        </ui-row>
        <order-status [status]="status"></order-status>
        <div class="subtitle">
          {{ order.content.products.length }}
          products
        </div>
      </ui-stack>
    }
  }
</ui-card>
