@switch (usage) {
  @case (OrderDeliveryPlace.PlacingOrder) {
    <ui-stack [formGroup]="form">
      <ui-input label="Имя" formControlName="name" [form]="form"> </ui-input>
      <ui-input
        label="Контактная информация"
        [form]="form"
        formControlName="contact"
      >
      </ui-input>

      <ui-toggler
        [options]="deliveryPlaceOptions"
        formControlName="placeType"
        [value]="form.controls.placeType.value"
        rowClass="w-100"
      ></ui-toggler>
      @if (isHotel) {
        <ui-input label="Отель" [form]="form" formControlName="place">
        </ui-input>
        @if(form.controls.deliveryType.value === DeliveryType.Reception){
          <ui-input label="Комната" [form]="form" formControlName="placeAdd">
          </ui-input>
        }
      }
      @if(additionalDelivery) {
        <addon-card [addon]="additionalDelivery" [disabled]="disableAddons" [currency]="currency" (toggleAddon)="changeDeliveryProduct($event)" [value]="!isDefaultDelivery"></addon-card>
      }
      <ui-row>
        <div>

          @if(freeDeliveryFromPice) {
            Бесплатно при заказе от {{ freeDeliveryFromPice | priceString : currency }} {{CURRENCY_SYMBOLS[currency]}}
          } @else if (freeDeliveryFromCount > 0) {
            Бесплатно от {{ freeDeliveryFromCount }} наборов
          } @else {
            {{deliverProduct.description}}
          }
        </div>
        <div class="bold">
          {{ deliverProduct.price[currency] | priceString : currency }} {{CURRENCY_SYMBOLS[currency]}}
        </div>
      </ui-row>
      <ui-input
        [min]="minimalDate.string"
        label="Дата доставки"
        type="date"
        [form]="form"
        formControlName="date"
      >
        <div class="no-wrap">с 18:00 до 21:00</div>
      </ui-input>
      @if (isHotel) {
        <ui-toggler
          [options]="deliveryTypeOptions"
          formControlName="deliveryType"
          [value]="form.controls.deliveryType.value"
          rowClass="w-100"
        ></ui-toggler>
      }

    </ui-stack>
  }
  @case (OrderDeliveryPlace.OrderCard) {
    <ui-stack>
      <ui-row>
        <div class="subtitle">Имя</div>
        <div>{{ delivery.name }}</div>
      </ui-row>
      <ui-row>
        <div class="subtitle">Контактная информация</div>
        <div>{{ delivery.contact }}</div>
      </ui-row>
      <ui-toggler
        [options]="deliveryPlace"
        [value]="delivery.placeType"
        [_disabled]="true"
      ></ui-toggler>
      @if (delivery.placeType === PlaceType.Hotel) {
        <ui-row>
          <div class="subtitle">Отель</div>
          <div>{{ delivery.place }}</div>
        </ui-row>
        <ui-row>
          <div class="subtitle">Комната</div>
          <div>{{ delivery.placeAdd }}</div>
        </ui-row>
      }
      <ui-row>
        <div class="subtitle">Дата доставки</div>
        <div>{{ delivery.date | date: "dd.MM.yyyy" }}</div>
      </ui-row>
      @if (delivery.placeType === PlaceType.Hotel) {
        <ui-toggler
          [options]="deliveryType"
          [value]="delivery.deliveryType"
          [_disabled]="true"
        ></ui-toggler>
      }
    </ui-stack>
  }
}
