<div class="search-wrapper">

  <div class="input-container">
    <input type="text" [formControl]="searchControl" placeholder="Поиск Гостя..." autocomplete="off" />
    @if (searchControl.value) {
    <div class="clear-btn" (click)="clearInput()">
      ✕
    </div>

    }
  </div>
  @if(loading) {
  <div class="loader">
    <div class="gold-spinner"></div>
  </div>

  }
  @if (results.length) {
  <ul>
    @for (item of results; track $index) {
    <li (click)="selectItem(item)">
      {{ item.name }}
    </li>

    }
  </ul>
  }


</div>
