@use '../abstracts/variables' as *;


.title{
font-size:18px;
font-weight:600;
}

.subtitle{
font-size:13px;
color:var(--color-text-soft);
}

.green-text{
color:var(--color-green);
}

.price{
color:var(--color-gold);
font-weight:600;
}

.bold {
  font-weight:900;
}

.red {
  color:var(--color-text-red);
}
